.category{
    height: auto;
    min-height: 77vh;
    max-height: auto;

}

.category-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-product-category {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
