.footer {
    background-color:  rgb(255, 200, 0); 
    color: #333; 
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
  }
  
  .footer .container {
    max-width: 1200px; 
    margin: 0 auto; 
  }

  @media (max-width: 575px) {
    .footer {
      padding: 15px 0; 
    }
  }
  